.bodyPage {
    background-color: #36A172;
    border-radius: 11px;
    font-family: ROBOTO;
    color: #fff;
    margin-bottom: 27.5px;
    margin-top: 27.5px;
    transition: 0.7s;
}

.bodyPage:hover {
    margin-left: -2%;
    margin-right: -2%;
    margin-top: -1%;
    transition: 0.7s;
}

.bodyContent {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 15px;
}

.bodyContentList {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}

.deliveryCard {
    margin-left: 35px !important;
    margin-right: 25px !important;
    margin-top: 25px;
    background: linear-gradient(#0CE7FE, #4DADFE) !important;
    border-radius: 10px;
    padding: 25px;
    width: 60%;
    text-align: left;
}

.deliveryCardButton:hover {
    background: linear-gradient(#4DADFE, #0CE7FE) !important;
}

.deliveryCardButton {
    margin-left: 25px;
    margin-right: 25px !important;
    margin-top: 25px;
    background: linear-gradient(#0CE7FE, #4DADFE) !important;
    border-radius: 10px;
    padding: 5px;
    width: 45%;
    text-align: center;
}

.cardInput {
    background-color: #ffffff;
    border-radius: 10px;
    font-family: ROBOTO;
    color: #36A172;
    padding: 1px;
    width: 60%;
    text-align: center;
}

.InputCard {
    height: 35px;
    border-color: #36A172;
    border-radius: 10px;
    font-family: ROBOTO;
    font-size: 25px;
    color: #36A172;
    text-align: center;
    width: 60%;
}

x {
    color: #ffffff !important;
}

.InputCardForm {
    height: 28px;
    border-color: #0CE7FE;
    border-radius: 10px;
    font-family: ROBOTO;
    font-size: 25px;
    text-align: center;
    color: #36A172;
    width: 60%;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.InputCard:focus {
    outline: none;
    /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px #0CE7FE;
    /* Full freedom. (works also with border-radius) */
}

body {
    background-color: #ffffff;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

p {
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: #FFBD2E;
}

hr {
    height: 4px;
    background-color: #36A172;
    border-radius: 4px;
    width: 100%;
    margin-right: 25px !important;
}

a:hover {
    color: #28CA42;
}

img {
    margin-top: 15px;
    border-radius: 15px;
    margin-left: 25px
}

h4 {
    margin: 5px;
}

h5 {
    margin: 5px;
    color: #36A172
}

.buttonGroup {
    margin-top: 25px;
}

button {
    background-color: #36A172;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 25px;
}

button:hover {
    background-color: #606582;
}

.logoInit {
    margin-top: 20%;
}

@media only screen and (max-width: 600px) {
    .bodyPage:hover {
        margin-left: -2%;
        margin-right: -2%;
        margin-top: -1%;
        transition: 0.7s;
    }
    .bodyContent {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    button {
        height: 70px;
        color: #fff;
        margin-bottom: 10px;
        font-size: 27px;
    }
    body {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 7%;
        justify-content: center;
    }
    .logoInit {
        margin-top: 55%;
    }
    .cardInput {
        width: 90%;
    }
    .deliveryCard,
    .deliveryCardButton {
        width: 75%;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}